@{
    ViewData["Title"] = "Novo Tema";
}

<main>
    <div id="addition" class="background">
        <form asp-controller="Game" asp-action="NewQuestion" method="post" autocomplete="off">
            <label for="theme">
                Tema: <br/>
                <input type="text" name="theme" required>
            </label>
            <input class="btn" type="submit" value="Próximo">
        </form>
    </div>
</main>