@{
    ViewData["Title"] = "Escolha um Tema";
}

<main>
    <div id="themes" class="background">
        <h1>Escolha um tema:</h1>
        <ul>
            <li><a class="btn" href="">Tema A</a></li>
            <li><a class="btn" href="">Tema B</a></li>
            <li><a class="btn" href="">Tema C</a></li>
            <li><a class="btn" href="">Novo Tema</a></li>
        </ul>
    </div>
</main>