@{
    ViewData["Title"] = "Escolha um Tema";
}

@model List<String>;

<main>
    <div id="themes" class="background">
        <h1>Escolha um tema:</h1>
        <ul>
            @foreach(String theme in @Model)
            {
                <li>
                    <form asp-controller="Game" asp-action="NextQuestion" method="post">
                        <input type="text" name="theme" style="display: none;" value="@theme">
                        <input class="btn" type="submit" value="@theme" />
                    </form>
                </li>
            }
            <li><a class="btn" asp-controller="Game" asp-action="NewTheme">Criar Tema</a></li>
        </ul>
    </div>
</main>